<section class="contenedor-paginas">
<h1>Iniciar sesión</h1>

<form action="/login" method="post">
  <p>
    <label for="email">Email</label>
    <input type="email" name="email" id="email" required>
  </p>

  <p>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
  </p>

  <input type="submit" value="Inicia Sesión">
</form>
</section>