<h2>Sube tu imagen de perfil:</h2>
<img src="{{photo}}" alt="profile photo" class="photo">
<form action="/edit_image" method="post" enctype="multipart/form-data">
  <input type="file" name="photoURL" id="inputPhoto" required>
  <input type="submit" value="Sube tu foto">
</form>

<script>
  document.getElementById("inputPhoto").addEventListener("change",(e)=>{
    console.log(document.getElementById("inputPhoto").files[0])
    document.getElementsByClassName("photo")[0].src = URL.createObjectURL(e.target.files[0])
    //document.getElementsByClassName("photo")[0].src = document.getElementById("inputPhoto").value
  })
</script>