body {
  margin: 0;
  padding: 0;
  left: 0;
  width: 100vw;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #CCDBDC; }

.photo {
  width: 200px;
  height: 200px;
  transition: all 0.3s ease; }

#photo:hover {
  opacity: 0.5;
  cursor: pointer; }

#draw {
  cursor: pointer;
  left: 0;
  position: absolute;
  top: 0%;
  width: 10%;
  padding: 15px 10px;
  border-radius: 20px;
  margin: 20px;
  background: #F79A7A;
  border: 4px solid #CCDBDC;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #CCDBDC; }

#draw:focus {
  outline: none; }

#svg {
  top: 50vh;
  left: 20vw;
  width: 70vw;
  height: 70%;
  position: relative;
  -webkit-transform: translate3d(-50%, -50%, 0); }

.line {
  stroke-dashoffset: 0;
  box-shadow: 10px 10px 1px black; }

.breakpoint {
  transform: scale(0);
  position: absolute;
  -webkit-transform-origin: 50% 50%; }

.active {
  transform: scale(1); }

#navbar {
  height: 10vh;
  background: black;
  border: none;
  position: fixed;
  width: 100vw; }

#navbar div div a {
  color: #CCDBDC; }

#portafolioLink {
  color: #1B2845; }

#imageLogo {
  width: 5vw; }

.contenedor-inicio {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("https://res.cloudinary.com/torreblanca/image/upload/v1538018224/prodigy/Lading%20Page/mixer.jpg");
  background-size: cover;
  background-repeat: none; }

.divs {
  padding: 20px; }

#indexDescription {
  width: 50vw;
  margin-right: 5vw;
  background-color: rgba(27, 40, 69, 0.5);
  border-radius: 5%; }

#indexDescription h2, #indexDescription p {
  width: 50%;
  color: white;
  text-shadow: 2px 2px #1B2845; }

#indexForm {
  width: 25vw; }

.cardIndex {
  color: #1B2845;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color: #CCDBDC;
  padding: 20px;
  border-radius: 10%;
  height: 60%; }

::placeholder {
  color: #1B2845 !important;
  opacity: 0.5; }

.contenedor-paginas {
  padding-top: 10vh; }

.card-genero {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 14vw;
  height: 10vh;
  color: #CCDBDC;
  border: solid 0px #1B2845;
  border-radius: 10px;
  margin: 10px;
  transition: all 0.3s ease;
  background: linear-gradient(211deg, #643a71, #8b5fbf, #1b2845);
  background-size: 600% 600%;
  -webkit-animation: cardGradientAnim 22s ease infinite;
  -moz-animation: cardGradientAnim 22s ease infinite;
  animation: cardGradientAnim 22s ease infinite; }

@-webkit-keyframes cardGradientAnim {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 51%; }
  100% {
    background-position: 0% 50%; } }

@-moz-keyframes cardGradientAnim {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 51%; }
  100% {
    background-position: 0% 50%; } }

@keyframes cardGradientAnim {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 51%; }
  100% {
    background-position: 0% 50%; } }

.card-genero:hover {
  background-color: #CCDBDC; }

#genresDiv {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }

.navbar-link:hover, a.navbar-item:hover {
  background-color: #1B2845 !important; }

#seccion-grafica {
  height: 80vh;
  display: flex;
  justify-content: space-around; }

#index-description-2 {
  width: 50vw;
  margin-right: 10%;
  padding-top: 25vh;
  color: #1B2845;
  font-size: 1.2em; }

footer {
  background-color: #1B2845 !important;
  color: #CCDBDC; }

footer a {
  color: #65AFFF; }

footer a:hover {
  color: #8B5FBF; }

/* border-box */
.search-container *,
.search-container *:after,
.search-container *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

.search-container {
  margin: 0 auto;
  transition: all 0.3s ease; }

.search-container:hover {
  width: 150px;
  margin-right: 50%; }

/* search bar focus */
.search-container *:focus {
  background: #CCDBDC;
  color: #333333;
  outline: 0; }

/* search bar container */
.search-container {
  display: table;
  position: relative;
  width: 51px; }

/* search icon button */
.search-icon-btn {
  background-color: #CCDBDC;
  border: 1px solid #643A71;
  border-radius: 50%;
  display: table-cell;
  height: 50px;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 50px;
  z-index: 2; }

/* search bar input container */
.search-input {
  position: absolute;
  left: 0;
  z-index: 1; }

/* search bar input */
.search-input input.search-bar {
  background-color: #CCDBDC;
  border: 1px solid #CCDBDC;
  height: 50px;
  padding: 0px;
  width: 50px; }

.search-input input.search-bar:focus {
  padding-left: 60px;
  padding-right: 10px;
  width: 200px; }

/* transition effect */
.search-input input.search-bar,
.search-icon-btn {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }

/* hover on search bar container */
.search-container:hover > .search-input input.search-bar {
  background-color: #fff;
  margin-left: 60px;
  padding-left: 20px;
  padding-right: 10px;
  width: 200px; }

/*# sourceMappingURL=style.css.map */