<section class="contenedor-paginas">
  <section class="container has-text-centered">
  <h2 class="title">Discover</h2>
  <div class="search-container">
    <div class="search-icon-btn">
      <i class="fa fa-search"></i>
    </div>
    <div class="search-input">

      <form action="/discover/results" method="POST">
        <input type="text" name="searchTrack" id="searchTrack" class="search-bar" placeholder="Buscar...">
      </form>
    </div>
  </div>
  </section>

  <div id="genresDiv">

    {{#each genre}}
    <a href="/discover/{{this}}">
      <div class="card-genero">
        {{this}}
      </div>
    </a>
    {{/each}}
  </div>

</section>